Source: oscar-selector
Section: science
Priority: optional
Maintainer: Olivier Lahaye <olivier.lahaye@cea.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.2

Package: oscar-selector
Architecture: all
Depends: ${misc:Depends}, liboscar-server, orm
Description: OSCAR Selector
 Set of scripts and Perl modules for the selection of OSCAR packages that have
 to be installed on a OSCAR cluster.

Package: oscar-selector-gui
Architecture: all
Depends: ${misc:Depends}, oscar-selector (= ${source:Version}), guidefate-tk-perl
Description: OSCAR Selector Graphical Interface
 Graphical interface for OSCAR Selector.
